@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');

html {
    height: 100%;
}

body {
    background-color: #d0d0ce;
    height:100%;
    min-height: 100%;
    font-family: Caveat;
    font-size: 2em;
    background-image: url('/static/paper_crop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

#madlib-container {
    position: relative;
    top: 20vw;
    margin: 0 auto;
    width: 60%;
}
/*#paper {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

paper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}*/
