<!doctype html>
<html>
<head>
    <title>Hackbright Project Tracker{% block title %}{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% block body %}
{% endblock %}

<footer>
    Navigation:
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new-student">New Student</a></li>
        <li><a href="/student-search">Student Search</a></li>
        <li><a href="/project-search">Project Search</a></li>
    </ul>
</footer>
</body>
</html>
