{% extends 'content.html' %}
    
{% block title %}Madlibs{% endblock %}

{% block content_header %}Your Madlib{% endblock %}

{% block text %}
        <p id="madlib-text">
            There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
            When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.
            This made the {{ animals }} run away.
        </p>

    <form action="/game">
        <button type="submit" name="play-game" value="yes">Play again!</button>
    </form>

{% endblock %}
